
#centrWin{
position:relative;
margin-left:auto;
margin-right:auto;
height:100%;
background-color:rgb(200,200,200);
background-image:url(brut3.jpg);
border-radius:10px;
}

#adressWin{
position:relative;
margin-left:auto;
margin-right:auto;
	background: rgba(210,210,210,0.6);
	border-top: 1px solid #fff;
	padding: 30px 0;
	width: 100%;
}

body {
background-color:rgb(220,220,220);
background-image:url(dark-red.jpg);
margin:0px;
}

#info{
position:relative;
margin-left:auto;
margin-right:auto;
width: 50%;
}

#center{
position:absolute;
z-index:100;
width:70%;
margin-left:15%;
border-radius:20px;
border: 10px;

}

#hightRight{
position:absolute;
width:40%;
z-index:10;
margin-left:55%;
border-radius:20px;
}

#hightLeft{
position:absolute;
width:40%;
z-index:10;
margin-left:5%;
border-radius:20px;
}

#lowRight{
position:absolute;
width:40%;
z-index:10;
margin-left:55%;
border-radius:20px;
}

#lowLeft{
position:absolute;
width:40%;
z-index:10;
margin-left:5%;
border-radius:20px;
}

.wTextCentr{
position:absolute;
z-index:100;
width:90%;
height:90%;
margin:5%;
border-radius:20px;
background:rgba(200,200,200,0.6);
text-align:justify;
text-overflow:clip;
overflow:hidden;
}

.wCentr{
background-image:url(brut2.jpg);
}



.wTopRight{
background-image:url(brut2.jpg);
}

.wTopLeft{

background-image:url(brut2.jpg);
}

.wBottomRight{

background-image:url(brut2.jpg);
}

.wBottomLeft{
background-image:url(brut2.jpg);
}

.wCentrBack{
background-image:url(brut2.jpg);
}

.wTopRightBack{
background-image:url(brut2.jpg);
}

.wTopLeftBack{
background-image:url(brut2.jpg);
}

.wBottomRightBack{
background-image:url(brut2.jpg);
}

.wBottomLeftBack{
background-image:url(brut2.jpg);
}

h1,h2,h3,h4,h5,h6{
    color:#000;
	letter-spacing:-1px;
	font-weight:400;
	padding: 0;
	margin: 10px;
	font: normal 120% serif,Helvetica,Arial,Verdana ;}
	
li{ 
margin-top:5px;
}
	
.h20 { height: 20px; }
.h40 { height: 40px; }
.h80 { height: 80px; }

.toLeft{
width:90%;
text-align:left;
margin:0;
padding:0;
border-bottom-style:solid;
border-bottom-width:1px;
}

.toRight{
position:relative;
text-align:right;
float:right;
}

.toInfoTop{
background:rgba(200,200,200,1);
position:absolute;
	width: 100%;
	text-overflow:clip;
    overflow:hidden;
	bottom:0;
	left:0;
	text-align:left;
}