#centrWin{
position:relative;
background-color:rgb(200,200,200);
background-image:url(brut3.jpg);
border-radius:1px;
margin-left:auto;
margin-right:auto;
}

#begin{
position:relative;
width:100%;
}

/* monitors and laptops */
@media screen and (max-height: 1240px) and (orientation: landscape){
#centrWin{
width:1200px;
height:1200px;
}
}
/* tablet */
@media screen and (max-height: 1024px) and (orientation: landscape){
#centrWin{
width:1024px;
height:1024px;
}
}

@media screen and (max-height: 800px) and (orientation: landscape){
#centrWin{
width:800px;
height:800px;
}
}

@media screen and (max-height: 768px) and (orientation: landscape)  {
#centrWin{
width:768px;
height:768px;}
}

@media screen and (max-height: 533px) and (orientation: landscape) {
#centrWin{
width:533px;
height:533px;}
}

@media screen and (max-height: 603px) and (orientation: landscape) {
#centrWin{
width:603px;
height:603px;}
}

@media screen and (max-height: 600px) and (orientation: landscape) {
#centrWin{
width:600px;
height:600px;}
}

@media screen and (max-height: 480px) and (orientation: landscape) {
#centrWin{
width:480px;
height:480px;}
}

@media screen and (max-height: 414px) and (orientation: landscape) {
#centrWin{
width:414px;
height:414px;}
}

@media screen and (max-height: 412px) and (orientation: landscape) {
#centrWin{
width:412px;
height:412px;}
}

@media screen and (max-height: 384px) and (orientation: landscape) {
#centrWin{
width:384px;
height:384px;}
}

@media screen and (max-height: 375px) and (orientation: landscape) {
#centrWin{
width:375px;
height:375px;}
}

@media screen and (max-height: 360px) and (orientation: landscape) {
#centrWin{
width:360px;
height:360px;}
}

@media screen and (max-height: 320px) and (orientation: landscape){
#centrWin{
width:320px;
height:320px;}
}
/*---------------------------------------------------------------------------*/
@media screen and (max-width: 1240px) and (orientation: portrait){
#centrWin{
position:absolute;
width:1200px;
height:1200px;
margin-top:30%;
margin-bottom:auto;
}
#begin{
height:100%;
}
}
/* tablet */
@media screen and (max-width: 1024px) and (orientation: portrait){
#centrWin{
position:absolute;
width:1024px;
height:1024px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 800px) and (orientation: portrait){
#centrWin{
position:absolute;
width:800px;
height:800px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 768px) and (orientation: portrait)  {
#centrWin{
position:absolute;
width:768px;
height:768px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 533px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:533px;
height:533px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 603px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:603px;
height:603px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 600px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:600px;
height:600px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 480px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:480px;
height:480px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 414px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:414px;
height:414px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 412px) and (orientation: portrait) {
#centrWin{

width:412px;
height:412px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 384px) and (orientation: portrait) {
#centrWin{
position:absolute;
width:384px;
height:384px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 375px) and (orientation: portrait) {
#centrWin{
width:375px;
height:375px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 360px) and (orientation: portrait) {
#centrWin{

width:360px;
height:360px;
margin-top:30%;
margin-bottom:auto;
}
#begin{

height:100%;
}
}

@media screen and (max-width: 320px) and (orientation: portrait){
#centrWin{
position:absolute;
width:320px;
height:320px;
margin-top:30%;
margin-bottom:auto;
}
#begin{
height:100%;
}
}




#adressWin{
position:relative;
<<<<<<< HEAD
margin-left:auto;
margin-right:auto;
	background: rgba(210,210,210,0.8);
	border-top: 1px solid #fff;
	padding: 30px 0;
	width: 100%;
=======
	background: rgba(210,210,210,0.8);
	border-top: 5px solid #fff;
	padding:20px;
	height:30px;
	width:100%;
	bottom:0px;
>>>>>>> ef686755157dcbb45c697043d289c2c4e564ed2d
}

body {
background-color:rgb(220,220,220);
background-image:url(dark-red1.jpg);
background-repeat:repeat-y;
background-attachment:fixed;
background-position: top;
margin:0;

}

#info{
position:relative;
margin-left:auto;
margin-right:auto;
width: 50%;
}

#center{
position:absolute;
z-index:100;
width:70%;
margin-left:15%;
border-radius:20px;
border: 10px;

}

#hightRight{
position:absolute;
width:40%;
z-index:10;
margin-left:55%;
border-radius:20px;
}

#hightLeft{
position:absolute;
width:40%;
z-index:10;
margin-left:5%;
border-radius:20px;
}

#lowRight{
position:absolute;
width:40%;
z-index:10;
margin-left:55%;
border-radius:20px;
}

#lowLeft{
position:absolute;
width:40%;
z-index:10;
margin-left:5%;
border-radius:20px;
}

.wTextCentr{
position:absolute;
z-index:100;
width:90%;
height:90%;
margin:5%;
border-radius:20px;
background:rgba(200,200,200,0.8);
text-align:justify;
text-overflow:clip;
overflow:hidden;
}

.wCentr{
background-image:url(brut2.jpg);
}



.wTopRight{
background-image:url(brut2.jpg);
}

.wTopLeft{

background-image:url(brut2.jpg);
}

.wBottomRight{

background-image:url(brut2.jpg);
}

.wBottomLeft{
background-image:url(brut2.jpg);
}

.wCentrBack{
background-image:url(brut2.jpg);
}

.wTopRightBack{
background-image:url(brut2.jpg);
}

.wTopLeftBack{
background-image:url(brut2.jpg);
}

.wBottomRightBack{
background-image:url(brut2.jpg);
}

.wBottomLeftBack{
background-image:url(brut2.jpg);
}

h1,h2,h3,h4,h5,h6{
    color:#000;
	letter-spacing:-1px;
	font-weight:400;
	padding: 0;
	margin: 10px;
	font: normal 120% serif,Helvetica,Arial,Verdana ;}
	
li{ 
margin-top:5px;
}
	
.h20 { height: 20px; }
.h40 { height: 40px; }
.h80 { height: 80px; }

.toLeft{
width:90%;
text-align:left;
margin:0;
padding:0;
border-bottom-style:solid;
border-bottom-width:1px;
}

.toRight{
position:relative;
text-align:right;
float:right;
}

.toInfoTop{
background:rgba(200,200,200,1);
position:relative;
	text-overflow:clip;
    overflow:hidden;
	display:inline;
	margin-left:auto;
	margin-right:auto;
}